.VendingMachine {
	width: 100vw;
	height: 100vh;
	background-image: url("./VendingMachine.png");
	background-size: cover;
	color: white;
}

.VendingMachine h1 {
	padding: 2rem;
}

.VendingMachine ul {
	padding: 1rem;
	list-style-type: none;
	background-color: rgba(0, 0, 0, 0.25);
}

.VendingMachine li {
	margin: 1rem 0;
}

.VendingMachine a {
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
}

.VendingMachine a:hover {
	text-decoration: underline;
}
